<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
  <br><br>
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>Read about our customers' experiences</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
            <div class="well">
        <div class="row">

            <div class="col-md-7">
                <a href="#">
                    <%= image_tag("give_com.jpg", :class=>"img-responsive")%>
                </a>
            </div>
            <div class="col-md-5">

    <h3><strong>Giving back to the Community</strong></h3>
    <h5><small>by Serena Applebee on 13 February 2014</small></h5>
    <br>
    <p>  I grew up poor with a single mom as my family's only provider. Life was difficult, but Mom had made everything seem better. She was resourceful and independent - an entrepeneur in every sense. So when she started her own business, I was certain that she would succeed. Of course that wasn't case. The business barely stayed afloat for the first few years. She was going to declare bankruptcy until a member of Women Entrepeneurs Society invested in the business. We had more money to improve our products and pump up advertising. After a few months, we started generating a profit and after 3 years, we we'd managed to expand the business to a few other branches. I will forever be thankful to that woman. </p>

    <p>  Through Rebound.Me, I was able to connect with women who were in the same situation I had been. Being an entrepeneur is tough, more so when you're struggling to raise kids at the same time. I'm very blessed to have achieved the success of my business. Through the kindness of a stranger, my family pulled through rough times and in the end, came up on top. I want to empower other women so that they may find the same path of solution. </p>
    <br>
                <a class="btn btn-primary" href="#">Learn about Giving Back <span class="glyphicon glyphicon-chevron-right"></span></a>
              </div>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project Two -->
        <div class="well">
        <div class="row">
           
            <div class="col-md-7">
                <h3><strong>Journey of Re-Discovery</strong></h3>
        <h5><small>by Serena Applebee on 13 February 2014</small></h5>
        <br>
        <p>  After my first divorce, I spent the following months in a zombie-like daze. I went out more often in the first two weeks than I had in the previous year, I drank more than my body would have appreciated, and I began to take a pessimistic approach to life. After a couple of months in this routine (if you could call it that), I began to realise I was losing sight of myself – who I was, who I wanted to be, and what I should be doing to get out of that point. I came across Rebound.Me and out of decided to purchase a trip to Paris. . </p>

        <p>  The following months were consumed by packing and preparing for the trip and I soon forgot – or more accurately neglected – how lost and confused I was feeling after the divorce. Rebound.Me had made my stay in Paris both an enjoyable and eye-opening experience – had I not found their website on that unforsaken Sunday evening, I would probably still be watching “Sex in the City” with a bottle on whisky on my bed. </p>

            <p>  The following months were consumed by packing and preparing for the trip and I soon forgot – or more accurately neglected – how lost and confused I was feeling after the divorce. Rebound.Me had made my stay in Paris both an enjoyable and eye-opening experience – had I not found their website on that unforsaken Sunday evening, I would probably still be watching “Sex in the City” with a bottle on whisky on my bed. I was lost and hurt – I needed to rediscover myself and through traveling I realised how easy, simple, and completely normal it was to stand on my own two feet. I moved on. </p>


        <br>
        <a class="btn btn-primary" href="#">Learn about Travel Options <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
          
             <div class="col-md-5">
                <a href="#">
                     <%= image_tag("rsz_blog1.jpg", :class=>"img-responsive")%>
                </a>
            </div>

        </div>
      </div>
        <!-- /.row -->

        <hr>

        <!-- Project Three -->
        <div class="well">
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                     <%= image_tag("gift_ss_img.jpg", :class=>"img-responsive")%>
                </a>
            </div>
            <div class="col-md-5">
               <h3><strong>An Unexpected Gift</strong></h3>
        <h5><small>by Serena Applebee on 13 February 2014</small></h5>    <br>
         <p>  A break up is like a part of you had died. An expectation of what could have been, sudden loss of a best friend or even worst, losing yourself.  I lived a month of me in Zombieland completely numb and when I'm unnumb, I'm bawling my eyes out and I get back to that numbness. I think grieving is necessary in order for our body to fully adjust and accept what had happened. Throughout this period and up till today, I continuously subscribe to the ReboundMe Box because it's like I have  a pal who knows just what I need to hear, what I need to eat and best of all, the shot of vodka just when I need it! </p>
            <br>
                <a class="btn btn-primary" href="#">Learn about Rebound.Me Box <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->
      </div>
        <hr>

      

        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>